.vscode

linux-0.12/**/*.o
linux-0.12/**/*.a
linux-0.12/Image
linux-0.12/System.map
linux-0.12/boot/bootsect
linux-0.12/boot/bootsect.s
linux-0.12/boot/setup
linux-0.12/boot/setup.s
linux-0.12/kernel/chr_drv/keyboard.s
linux-0.12/tools/build
linux-0.12/tools/system
linux-0.12/tools/kernel

oslab/bochsout.txt
oslab/Image
oslab/hdc.img

src/setup/bochs-2.6.9/*
src/setup/bochs-2.6.9.tar.gz